.css-b62m3t-container {
  width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  border-radius: 40px;
  outline: none;
}
@media only screen and (max-width: 800px) {
  .css-b62m3t-container {
    width: 90%;
  }
}
